*,
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-primary: #5272da;
    --light-color: #edf2f4;
    --light-primary: #6f89ca;
}

section {
    background: url("./../../assets/img/bg-blur-dashboard.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

section>.navbar {
    background-color: rgba(111, 137, 202, 0.15);
    box-shadow: 0 0 32px #fff;
}

section>.navbar>.container>.navbar-brand>img {
    margin-top: -1rem;
}

section>.navbar>.container>.navbar-brand>p {
    color: var(--bg-primary);
}

section>.navbar>.container>.navbar-brand>p>span {
    color: var(--light-primary);
}

section>.navbar>.container>.nav-link>ul>li {
    list-style: none;
}

section>.navbar>.container>.nav-link>ul>li>a {
    font-size: 18px;
    font-weight: 400 !important;
    color: var(--light-primary);
}

section>.navbar>.container>.nav-link>ul>li>div {
    height: 0.2rem;
    width: 80%;
    background-color: var(--light-primary);
    border-radius: 5rem;
}

section>main>.container>.row {
    min-height: 70vh;
    max-width: 100%;
}

section>main>.container>.row>.col-6>h1 {
    font-size: 80px;
    color: var(--bg-primary);
}

section>main>.container>.row>.col-6>h1>span {
    font-size: 30px;
    color: var(--light-primary);
}

section>main>.container>.row>.col-6>p {
    color: #00b4d8;
    font-weight: 300;
    font-size: 18px;
}

section>main>.container>.row>.col-6>a {
    background-color: var(--bg-primary);
    border: none;
    outline: none;
    border-radius: 0.7rem;
}

section>main>.container>.row>.col-6>a:hover {
    box-shadow: 0 0 10px var(--light-primary);
    transition: all 0.2s ease-in-out;
}

section>main>.container>.row>.col-6>a:focus {
    outline: none;
}

main>.container>.row>.col-6>img {
    width: 120%;
    margin-right: -5rem;
}